 		<footer id="footer" class="footer">
			<div class="footer__content">
				<div class="container">
					<div class="footer__row">
						<div class="footer__col w-100">
							<div class="footer-text">
								DatingToMarriageadmin&#64;datingtomarriage.com
								<address>
									85 Great Portland Street First Floor, London
									W1W7LT, United Kingdom
									2012-2020 DTM Group LLP
								</address>
							</div>
							<strong class="footer-logo">
								<a href="index.html">
									<img src="img/uniteheart.png" alt="uniteheart">
								</a>
							</strong>
						</div>
						<div class="footer__col w-50">
							<ul class="footer__menu">
								<li><a href="#">About us</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">FAQ</a></li>
								<li><a href="#">Terms & Conditions</a></li>
								<li><a href="#">Affiliate partners</a></li>
							</ul>
						</div>
						<div class="footer__col w-50">
						<ul class="footer-pay">
							<li>
								<a href="#" class="footer-pay__btn">
									<img src="./img/mastercard1.svg" alt="mastercard">
								</a>
							</li>
							<li>
								<a href="#" class="footer-pay__btn">
									<img src="./img/visa1.svg" alt="visa">
								</a>
							</li>
							<li>
								<a href="#" class="footer-pay__btn">
									<img src="./img/fondy.svg" alt="fondy">
								</a>
							</li>
						</ul>
						</div>
						<div class="footer__col w-100">
							<div class="footer-btns">
								<li>
									<a href="#" class="btn btn__white btn-lg btn-security">
										<img src="img/mcafee.svg" alt="mcafee">
									</a>
								</li>
								<li>
									<a href="#" class="btn btn__white btn-lg btn-security">
										<img src="img/Norton-Security.svg" alt="Norton-Security">
									</a>
								</li>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	
	<div class="modal--overlay login__modal">
		<div class="preview__card">
			<div class="preview__card-img">
				<div class="preview__card-head">
					<a href="#" class="preview__card-name">Olga</a>
					<span class="preview__card-id">
						ID: 722760
					</span>
				</div>
				<div class="img-bg" style="background-image: url(img/girl1.png);">
					<div class="preview__card-status">
						online
					</div>
				</div>
				<div class="preview__card-btn">
					<a href="#" class="btn btn__secondary btn-lg">View detailed profil</a>
				</div>
			</div>
		</div>
		<div class="modal--container">
			<button class="modal--close"><i class="icon-close"></i></button>
			<h3 class="modal__title">
				Login to your account
			</h3>
			<div class="modal__form">
				<div class="input-col">
					<input type="email" class="form__input form__input-lg" placeholder="your email *">
				</div>
				<div class="input-col password-box">
					<input type="password" class="form__input form__input-lg" placeholder="your password *">
					<button class="view-pas"><i class="icon-eye"></i></button>
				</div>
				<div class="input-col">
					<label class="checkbox">
						<input type="checkbox" class="hidden">
						<span class="checkbox-btn"></span>
						<span class="checkbox-text">Remember Me</span>
					</label>
				</div>
				<button class="modal--opener modal__password" data-type="modal-password">Forgot password?</button>
				<div class="btn-wrapp">
					<div class="btn-box">
						<button class="btn btn-lg btn__primary modal--opener" data-type="modal-register">
							Register
						</button>
					</div>
					<div class="btn-box">
						<a href="#" class="btn btn-lg btn__primary-border">
							Login
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal--overlay password__modal">
		<div class="modal__box">
			<div class="modal--container">
				<button class="modal--close"><i class="icon-close"></i></button>
				<h3 class="modal__title">
					Password recover
				</h3>
				<div class="modal__form">
					<div class="input-col">
						<input type="email" class="form__input form__input-lg" placeholder="your email *">
					</div>
					<div class="input-col">
						<button class="btn btn-lg btn__primary">
							Send
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal--overlay register__modal">
		<div class="modal__box">
			<div class="modal--container">
				<button class="modal--close"><i class="icon-close"></i></button>
				<h3 class="modal__title">
					Register
				</h3>
				<div class="modal__form">
					<div class="input-col">
						<input type="text" class="form__input form__input-lg" placeholder="Name *">
					</div>
					<div class="input-col">
						<input type="text" class="form__input form__input-lg" placeholder="Surname *">
					</div>
					<div class="input-col">
						<input type="email" class="form__input form__input-lg" placeholder="your email *">
					</div>
					<p class="modal__text">
						<strong>password</strong> 8 characters minimum length
					</p>
					<div class="input-col password-box">
						<input type="password" class="form__input form__input-lg" placeholder="New password ( min 8 chars ) *">
						<button class="view-pas"><i class="icon-eye"></i></button>
					</div>
					<div class="input-col password-box">
						<input type="password" class="form__input form__input-lg" placeholder="Confirm passworld *">
						<button class="view-pas"><i class="icon-eye"></i></button>
					</div>
					<div class="input-col">
						<label class="checkbox">
							<input type="checkbox" class="hidden">
							<span class="checkbox-btn"></span>
							<span class="checkbox-text">I have read and agree to the <a href="#">privacy policy *</a></span>
						</label>
					</div>
					<div class="input-col">
						<button class="btn btn-lg btn__primary modal--opener" data-type="modal-gender">
							Register
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal--overlay gender__modal">
		<div class="modal__box">
			<div class="modal--container">
				<button class="modal--close"><i class="icon-close"></i></button>
				<h4 class="modal__title">
					Who you are?
				</h4>
				<div class="modal__selection">
					<div class="modal__selection-col">
						<div class="img-box">
							<img src="img/face-mask-1.png" alt="man">
						</div>
						<a href="#" class="btn btn-lg btn__primary-border modal--opener" data-type="modal-looking">
							Man
						</a>
					</div>
					<div class="modal__selection-col">
						<div class="img-box">
							<img src="img/face-mask-2.png" alt="man">
						</div>
						<a href="#" class="btn btn-lg btn__primary-border modal--opener" data-type="modal-looking">
							Woman
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal--overlay looking__modal">
		<div class="modal__box">
			<div class="modal--container">
				<button class="modal--close"><i class="icon-close"></i></button>
				<h4 class="modal__title">
					Who are you looking for?
				</h4>
				<div class="modal__selection">
					<div class="modal__selection-col">
						<div class="img-box">
							<img src="img/face-mask-1.png" alt="man">
						</div>
						<a href="#" class="btn btn-lg btn__primary-border">
							Man
						</a>
					</div>
					<div class="modal__selection-col">
						<div class="img-box">
							<img src="img/face-mask-2.png" alt="man">
						</div>
						<a href="#" class="btn btn-lg btn__primary-border">
							Woman
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal--overlay support__modal">
		<div class="modal__box">
			<div class="modal--container">
				<button class="modal--close"><i class="icon-close"></i></button>
				<h3 class="modal__title">
					Support
				</h3>
				<div class="modal__form">
					<div class="input-col">
						<input type="text" class="form__input form__input-lg" placeholder="Name *">
					</div>
						<div class="input-col">
						<input type="email" class="form__input form__input-lg" placeholder="your email *">
					</div>
					<div class="input-col">
						<input type="text" class="form__input form__input-lg" placeholder="Country">
					</div>
					<div class="input-col">
						<ul class="drop">
							<li class="drop__box drop__value">
								<a href="#" class="drop__btn">
									<span class="result-value">Subject</span>
								</a>
								<ul class="drop__menu">
									<li>
										<label class="radio">
											<input type="radio" name="galery-input" class="hidden">
											<span class="radio-text">Subject1</span>
										</label>
									</li>
									<li>
										<label class="radio">
											<input type="radio" name="galery-input" class="hidden">
											<span class="radio-text">Subject2</span>
										</label>
									</li>
									<li>
										<label class="radio">
											<input type="radio" name="galery-input" class="hidden">
											<span class="radio-text">Subject3</span>
										</label>
									</li>
									<li>
										<label class="radio">
											<input type="radio" name="galery-input" class="hidden">
											<span class="radio-text">Subject4</span>
										</label>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="input-col">
						<textarea class="form__input form__input-lg" placeholder="Message"></textarea>
					</div>
					<div class="input-col">
						<label class="checkbox">
							<input type="checkbox" class="hidden">
							<span class="checkbox-btn"></span>
							<span class="checkbox-text">Im not a robot</span>
						</label>
					</div>
					<div class="input-col">
						<button class="btn btn-lg btn__primary">
							Send message
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal--overlay modal--center preview__modal">
		<div class="modal--container">
			<button class="modal--close"><i class="icon-close"></i></button>
			<div class="preview__card">
				<div class="preview__card-status">
					online
				</div>
				<div class="preview__card-img">
					<div class="img-bg" style="background-image: url(img/girl1.png);"></div>
					<ul class="preview__card-thumb">
						<li>
							<div class="img-bg" style="background-image: url(img/girl-slider-1.png);"></div>
						</li>
						<li>
							<div class="img-bg" style="background-image: url(img/girl-slider-2.png);"></div>
						</li>
						<li>
							<div class="img-bg" style="background-image: url(img/girl-slider-3.png);"></div>
						</li>
					</ul>
				</div>
				<div class="preview__card-info">
					<a href="#" class="preview__card-name">Olga</a>
					<span class="preview__card-id">
						ID: 722760
					</span>
					<p class="preview__card-age">
						Age: <strong>35</strong>
					</p>
					<ul class="preview__card-list">
						<li><a href="#"><i class="icon-chat"></i></a></li>
						<li><a href="#"><i class="icon-envelop"></i></a></li>
						<li><a href="#"><i class="icon-youtube"></i></a></li>
						<li><a href="#"><i class="icon-gift"></i></a></li>
					</ul>
					<div class="preview__card-text">
						<h4 class="preview__card-about">
							About me
						</h4>
						<p>
							I can't describe me in one word or sentence, because everyone is different. I am a Ukrainian girl who managed to see a
							lot in my life..I'm Mature enough , I don't want you to think I'm a doll, I have a life experience...
						</p>
					</div>
					<div class="preview__card-text">
						<h4 class="preview__card-about preview__card-about-p">
							About my partner
						</h4>
						<p>
							What's your first impression of me?! what do you think about single Ukraine women? Who do you trust with your
							feelings?
							I think we're on the best dating love sites...
						</p>
					</div>
					<div class="preview__card-btn">
						<a href="#" class="btn btn__secondary btn-lg">View detailed profil</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal--overlay search__modal">
		<div class="modal--container">
			<div class="search__modal-content">
				<button class="modal--close"><i class="icon-close"></i></button>
				<h3 class="modal__title">
					Search
				</h3>
				<div class="modal__form">
					<div class="modal__form-row modal__form-row--1">
						<div class="modal__form-col modal__form-col--1">
							<label class="modal__form-label" for="search-modal-input">
								You can find a user by personal ID
							</label>
							<input type="text" id="search-modal-input" class="form__input form__input-md" placeholder="Name *">
						</div>
						<div class="modal__form-col">
							<button class="btn btn-md btn__primary">
								Show matches by ID
							</button>
						</div>
					</div>
					<h4 class="modal__form-title">
						Specify your request by filling search form
					</h4>
					<div class="modal__form-row modal__form-row--2">
						<div class="modal__form-col">
							<label class="checkbox checkbox-decorate">
								<input type="checkbox" class="hidden">
								<span class="checkbox-btn"></span>
								<span class="checkbox-text">Asian dating</span>
							</label>
						</div>
						<div class="modal__form-col">
							<label class="checkbox checkbox-decorate">
								<input type="checkbox" class="hidden">
								<span class="checkbox-btn"></span>
								<span class="checkbox-text">Christian</span>
							</label>
						</div>
						<div class="modal__form-col">
							<label class="checkbox checkbox-decorate">
								<input type="checkbox" class="hidden">
								<span class="checkbox-btn"></span>
								<span class="checkbox-text">Chatting</span>
							</label>
						</div>
						<div class="modal__form-col">
							<label class="checkbox checkbox-decorate">
								<input type="checkbox" class="hidden">
								<span class="checkbox-btn"></span>
								<span class="checkbox-text">Catholic</span>
							</label>
						</div>
						<div class="modal__form-col">
							<label class="checkbox checkbox-decorate">
								<input type="checkbox" class="hidden">
								<span class="checkbox-btn"></span>
								<span class="checkbox-text">Travel girls</span>
							</label>
						</div>
						<div class="modal__form-col">
							<label class="checkbox checkbox-decorate">
								<input type="checkbox" class="hidden">
								<span class="checkbox-btn"></span>
								<span class="checkbox-text">Muslim</span>
							</label>
						</div>
						<div class="modal__form-col">
							<label class="checkbox checkbox-decorate">
								<input type="checkbox" class="hidden">
								<span class="checkbox-btn"></span>
								<span class="checkbox-text">Senior dating</span>
							</label>
						</div>
						<div class="modal__form-col">
							<label class="checkbox checkbox-decorate">
								<input type="checkbox" class="hidden">
								<span class="checkbox-btn"></span>
								<span class="checkbox-text">Interracial</span>
							</label>
						</div>
					</div>
					<div class="modal__form-row modal__form-row--3">
						<h4 class="modal__form-title">
							Basic
						</h4>
						<div class="modal__form-col">
							<p class="modal__form-label">
								Age
							</p>
							<div class="filter__slider-box">
								<div class="filter__slider" data-min="18" data-max="40" data-min_range="18" data-max_range="40" data-step="1">
								</div>
							</div>
						</div>
						<div class="modal__form-col">
							<p class="modal__form-label">
								Ethnicity
							</p>
							<ul class="drop">
								<li class="drop__box drop__value">
									<a href="#" class="drop__btn">
										<span class="result-value">Ethnicity</span>
									</a>
									<ul class="drop__menu">
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Ethnicity1</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Ethnicity2</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Ethnicity3</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Ethnicity4</span>
											</label>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="modal__form-col">
							<p class="modal__form-label">
								Height
							</p>
							<div class="modal__form-subrow">
								<div class="modal__form-subcol">
									<p class="modal__form-sublabel">
										From
									</p>
									<ul class="drop">
										<li class="drop__box drop__value">
											<a href="#" class="drop__btn">
												<span class="result-value"></span>
											</a>
											<ul class="drop__menu">
												<li>
													<label class="radio">
														<input type="radio" name="galery-input" class="hidden">
														<span class="radio-text">1</span>
													</label>
												</li>
												<li>
													<label class="radio">
														<input type="radio" name="galery-input" class="hidden">
														<span class="radio-text">2</span>
													</label>
												</li>
												<li>
													<label class="radio">
														<input type="radio" name="galery-input" class="hidden">
														<span class="radio-text">3</span>
													</label>
												</li>
												<li>
													<label class="radio">
														<input type="radio" name="galery-input" class="hidden">
														<span class="radio-text">4</span>
													</label>
												</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="modal__form-subcol">
									<p class="modal__form-sublabel">
										to
									</p>
									<ul class="drop">
										<li class="drop__box drop__value">
											<a href="#" class="drop__btn">
												<span class="result-value"></span>
											</a>
											<ul class="drop__menu">
												<li>
													<label class="radio">
														<input type="radio" name="galery-input" class="hidden">
														<span class="radio-text">1</span>
													</label>
												</li>
												<li>
													<label class="radio">
														<input type="radio" name="galery-input" class="hidden">
														<span class="radio-text">2</span>
													</label>
												</li>
												<li>
													<label class="radio">
														<input type="radio" name="galery-input" class="hidden">
														<span class="radio-text">3</span>
													</label>
												</li>
												<li>
													<label class="radio">
														<input type="radio" name="galery-input" class="hidden">
														<span class="radio-text">4</span>
													</label>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="modal__form-col">
							<p class="modal__form-label">
								Eye color
							</p>
							<ul class="drop">
								<li class="drop__box drop__value">
									<a href="#" class="drop__btn">
										<span class="result-value">Eye color</span>
									</a>
									<ul class="drop__menu">
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Eye color1</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Eye color2</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Eye color3</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Eye color4</span>
											</label>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="modal__form-col">
							<p class="modal__form-label">
								Weight
							</p>
							<div class="modal__form-subrow">
								<div class="modal__form-subcol">
									<p class="modal__form-sublabel">
										From
									</p>
									<ul class="drop">
										<li class="drop__box drop__value">
											<a href="#" class="drop__btn">
												<span class="result-value"></span>
											</a>
											<ul class="drop__menu">
												<li>
													<label class="radio">
														<input type="radio" name="galery-input" class="hidden">
														<span class="radio-text">1</span>
													</label>
												</li>
												<li>
													<label class="radio">
														<input type="radio" name="galery-input" class="hidden">
														<span class="radio-text">2</span>
													</label>
												</li>
												<li>
													<label class="radio">
														<input type="radio" name="galery-input" class="hidden">
														<span class="radio-text">3</span>
													</label>
												</li>
												<li>
													<label class="radio">
														<input type="radio" name="galery-input" class="hidden">
														<span class="radio-text">4</span>
													</label>
												</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="modal__form-subcol">
									<p class="modal__form-sublabel">
										to
									</p>
									<ul class="drop">
										<li class="drop__box drop__value">
											<a href="#" class="drop__btn">
												<span class="result-value"></span>
											</a>
											<ul class="drop__menu">
												<li>
													<label class="radio">
														<input type="radio" name="galery-input" class="hidden">
														<span class="radio-text">1</span>
													</label>
												</li>
												<li>
													<label class="radio">
														<input type="radio" name="galery-input" class="hidden">
														<span class="radio-text">2</span>
													</label>
												</li>
												<li>
													<label class="radio">
														<input type="radio" name="galery-input" class="hidden">
														<span class="radio-text">3</span>
													</label>
												</li>
												<li>
													<label class="radio">
														<input type="radio" name="galery-input" class="hidden">
														<span class="radio-text">4</span>
													</label>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="modal__form-col">
							<p class="modal__form-label">
								Hair color
							</p>
							<ul class="drop">
								<li class="drop__box drop__value">
									<a href="#" class="drop__btn">
										<span class="result-value">Hair color</span>
									</a>
									<ul class="drop__menu">
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Hair color1</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Hair color2</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Hair color3</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Hair color4</span>
											</label>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="modal__form-col">
							<p class="modal__form-label">
								Body type
							</p>
							<ul class="drop">
								<li class="drop__box drop__value">
									<a href="#" class="drop__btn">
										<span class="result-value">Body type</span>
									</a>
									<ul class="drop__menu">
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Body type1</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Body type2</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Body type3</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Body type4</span>
											</label>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="modal__form-col">
							<p class="modal__form-label">
								Smoke
							</p>
							<ul class="drop">
								<li class="drop__box drop__value">
									<a href="#" class="drop__btn">
										<span class="result-value">Smoke</span>
									</a>
									<ul class="drop__menu">
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Smoke1</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Smoke2</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Smoke3</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Smoke4</span>
											</label>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="modal__form-col">
							<p class="modal__form-label">
								Children
							</p>
							<ul class="drop">
								<li class="drop__box drop__value">
									<a href="#" class="drop__btn">
										<span class="result-value">Children</span>
									</a>
									<ul class="drop__menu">
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Children1</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Children2</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Children3</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Children4</span>
											</label>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="modal__form-col">
							<p class="modal__form-label">
								Drink
							</p>
							<ul class="drop">
								<li class="drop__box drop__value">
									<a href="#" class="drop__btn">
										<span class="result-value">Drink</span>
									</a>
									<ul class="drop__menu">
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Drink1</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Drink2</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Drink3</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Drink4</span>
											</label>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="modal__form-row modal__form-row--4">
						<div class="modal__form-col">
							<p class="modal__form-label">
								Country
							</p>
							<ul class="drop">
								<li class="drop__box drop__value">
									<a href="#" class="drop__btn">
										<span class="result-value">Country</span>
									</a>
									<ul class="drop__menu">
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Country1</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Country2</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Country3</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Country4</span>
											</label>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="modal__form-col">
							<p class="modal__form-label">
								Marital status
							</p>
							<ul class="drop">
								<li class="drop__box drop__value">
									<a href="#" class="drop__btn">
										<span class="result-value">Marital status</span>
									</a>
									<ul class="drop__menu">
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Marital status1</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Marital status2</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Marital status3</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Marital status4</span>
											</label>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="modal__form-col">
							<p class="modal__form-label">
								Religion
							</p>
							<ul class="drop">
								<li class="drop__box drop__value">
									<a href="#" class="drop__btn">
										<span class="result-value">Religion</span>
									</a>
									<ul class="drop__menu">
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Religion1</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Religion2</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Religion3</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Religion4</span>
											</label>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="modal__form-col">
							<p class="modal__form-label">
								English proficiency
							</p>
							<ul class="drop">
								<li class="drop__box drop__value">
									<a href="#" class="drop__btn">
										<span class="result-value">English proficiency</span>
									</a>
									<ul class="drop__menu">
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">English proficiency1</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">English proficiency2</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">English proficiency3</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">English proficiency4</span>
											</label>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="modal__form-col">
							<p class="modal__form-label accent">
								Sort results by:
							</p>
							<ul class="drop">
								<li class="drop__box drop__value">
									<a href="#" class="drop__btn">
										<span class="result-value">Sort results by:</span>
									</a>
									<ul class="drop__menu">
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Sort results by:1</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Sort results by:2</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Sort results by:3</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Sort results by:4</span>
											</label>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="modal__form-col">
							<p class="modal__form-label accent">
								Only Show Users:
							</p>
							<ul class="drop">
								<li class="drop__box drop__value">
									<a href="#" class="drop__btn">
										<span class="result-value">Only Show Users:</span>
									</a>
									<ul class="drop__menu">
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Only Show Users:1</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Only Show Users:2</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Only Show Users:3</span>
											</label>
										</li>
										<li>
											<label class="radio">
												<input type="radio" name="galery-input" class="hidden">
												<span class="radio-text">Only Show Users:4</span>
											</label>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="modal__form-col">
							<p class="modal__form-label accent">
								Only Show Users:
							</p>
							<label class="checkbox">
								<input type="checkbox" class="hidden">
								<span class="checkbox-btn"></span>
								<span class="checkbox-text">With video clips only</span>
							</label>
						</div>
					</div>
					
				</div>
			</div>
			<div class="modal__form-btn">
				<button class="btn btn-lg btn__primary">
					Show matches
				</button>
			</div>
		</div>
	</div>
	<div class="modal--overlay modal--center thank__modal">
		<div class="modal--container">
			<h2 class="thank__modal-title">
				Thank you for registration
			</h2>
			<div class="thank__modal-text">
				<p>
					"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
					aliqua.
				</p>
				<p>
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
					occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
				</p>
			</div>
			<ul class="thank__modal-list">
				<li>Duis aute irure dolor in reprehenderit in voluptate velit </li>
				<li>Duis aute irure dolor in reprehenderit in voluptate velit </li>
				<li>Duis aute irure dolor in reprehenderit in voluptate velit </li>
				<li>Duis aute irure dolor in reprehenderit in voluptate velit </li>
			</ul>
			<ul class="thank__modal-btns">
				<li>
					<a href="#" class="thank__modal-link">
						Resend activation letter
					</a>
				</li>
				<li>
					<a href="#" class="btn btn__secondary btn-lg">
						Go to inbox
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="modal--overlay modal--center contact__modal">
		<div class="modal--container">
			<button class="modal--close"><i class="icon-close"></i></button>
			<h3 class="contact__modal-title">
				To request direct contact details of a lady you have 2 options:
			</h3>
			<div class="contact__modal-text">
				<p>
					1. if you have 15 or more paid
					letters with a lady - get Contact
					Details for FREE
				</p>
				<p>
					2. if you have less than 15 paid
					letters with a lady - get her Contact
					Details for 120 credits.
				</p>
			</div>
			<div class="btn-flex">
				<div class="btn-box">
					<button class="btn btn-lg btn__primary">
						Buy request
					</button>
				</div>
				<div class="btn-box">
					<a href="#" class="btn btn-lg btn__primary-border">
						Get free
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="modal--overlay modal--center yes__modal">
		<div class="modal--container">
			<button class="modal--close"><i class="icon-close"></i></button>
			<h3 class="yes__modal-title">
				By clicking on <strong>“Yes”</strong> , you switch on
				“invisible Status” mode for your profile.
			</h3>
			<div class="yes__modal-text">
				<p>
					invisible Status” mode for your profile. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
					fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
					est laborum."
				</p>
				<p>
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
					occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				</p>
				<p>
					Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."Duis aute
					irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
					cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
				</p>
			</div>
			<div class="btn-flex">
				<div class="btn-box">
					<button class="btn btn-lg btn__primary">
						Yes
					</button>
				</div>
				<div class="btn-box">
					<a href="#" class="btn btn-lg btn__primary-border">
						No
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="modal--overlay modal--center visible__modal">
		<div class="modal--container">
			<button class="modal--close"><i class="icon-close"></i></button>
			<div class="modal__content">
				<h3 class="modal__title">
					Do you to make your profile
					visible?
				</h3>
				<div class="btn-flex">
					<div class="btn-box">
						<button class="btn btn-lg btn__primary">
							Yes
						</button>
					</div>
					<div class="btn-box">
						<a href="#" class="btn btn-lg btn__primary-border modal--opener" data-type="modal-yes">
							No
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal--overlay modal--center general__modal">
		<div class="modal--container">
			<button class="modal--close"><i class="icon-close"></i></button>
			<div class="modal__content">
				<h3 class="general__modal-title">
					Your request for Direct Contact Details is waiting for approval.
					It may need up to 3 days.
					You can see the approval request in your inbox (letters from administration)
				</h3>
				<div class="btn-flex">
					<div class="btn-box">
						<button class="btn btn-lg btn__primary">
							Ok
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal--overlay modal--center outbox__modal">
		<div class="modal--container">
			<button class="modal--close"><i class="icon-close"></i></button>
			<div class="modal__content">
				<h3 class="modal__title">
					Delete all outbox?
				</h3>
				<label class="checkbox">
					<input type="checkbox" class="hidden">
					<span class="checkbox-btn"></span>
					<span class="checkbox-text">Delete all except last 500 letters</span>
				</label>
				<div class="btn-flex">
					<div class="btn-box">
						<button class="btn btn-lg btn__primary">
							Yes
						</button>
					</div>
					<div class="btn-box">
						<a href="#" class="btn btn-lg btn__primary-border modal--opener" data-type="modal-yes">
							No
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal--overlay modal--center file__modal">
		<div class="modal--container">
			<button class="modal--close"><i class="icon-close"></i></button>
			<div class="modal__content">
				<div class="modal__icon">
					<i class="icon-money-2"></i>
				</div>
				<h3 class="modal__title">
					This letter costs 7 Credits to open
				</h3>
				<div class="btn-flex">
					<div class="btn-box">
						<button class="btn btn-lg btn__primary">
							Yes
						</button>
					</div>
					<div class="btn-box">
						<a href="#" class="btn btn-lg btn__primary-border">
							No
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal--overlay modal--center photo__modal">
		<div class="modal--container">
			<button class="modal--close"><i class="icon-close"></i></button>
			<div class="modal__content">
				<div class="modal__icon">
					<i class="icon-travel"></i>
				</div>
				<h3 class="general__modal-title">
					Enter your password to open the girl's photo
				</h3>
				<div class="input-col">
					<input type="text" class="form__input form__input-lg" placeholder="password *">
				</div>
				<div class="btn-flex">
					<div class="btn-box">
						<button class="btn btn-lg btn__primary">
							Open photo 
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/lightbox.js"></script>
	<script src="js/jquery.maskedinput.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/swiper.js"></script>
	<script src="js/my.js"></script>
</body>
</html>