<footer class="footer">
	<div class="footer__content">
		<div class="container">
			<div class="footer__wrapper">
				<div class="footer__item-left">
					<a href="#" class="footer__item-subscribe">Subscribe to our</a>
					<a href="#" class="footer__item-letter">Newsletter</a>
					<div class="footer__item-input">
						<input type="email" placeholder="your email address  *" class="footer__item-email">
						<a href="#" class="footer__item-email-btn"></a>
					</div>
					<label for="" class="footer__item-checkbox">
						<input type="checkbox" class="footer__item-checkbox-input">
						<p class="footer__item-checkbox-text">I have read and agree to the privacy policy *</p>
					</label>
				</div>
				<div class="footer__item-right">
					<div class="footer__item-block">
						<ul>
							<li><a href="#">Video Dting</a></li>
							<li><a href="#">About our site</a></li>
							<li><a href="#">Our services</a></li>
						</ul>
					</div>
					<div class="footer__item-block">
						<ul>
							<li><a href="#">Billing issues</a></li>
							<li><a href="#">Site map</a></li>
						</ul>
					</div>
					<div class="footer__item-block">
						<ul>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Vkontakte</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer__bottom">
				<div class="footer__bottom-left">
					<a href="#" class="footer__bottom-left-privacy">Privacy Policy</a>
					<a href="#" class="footer__bottom-left-terms">Terms & Conditions</a>
				</div>
				<div class="footer__bottom-right">
					<p>© Compoint Solutions Ltd 2011-2020. All rights reserved</p>
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="js/jquery.min.js"></script>
<script src="../js/my.js"></script>