// Fonts
$font-main: 'Gilroy', sans-serif;

// Colors
$white: #ffffff;
$black: #000000;
$violet: #A549D0;
$primary: #4045BA;







// Colors
// $white:        #ffffff;
// $black:        #000000;
// $green:        #7AD16B;
// $yellow-light: #F4C621;
// $text:         #352F55;
// $primary:      #4045BA;
// $secondary:    #A549D0;
// $main-bg:      #F2F6FA;
// $accent:       #40BAB3;
// $yellow:       #FFA532;

// $shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);