.btn{
    display: inline-block;
    min-width: 116px;
    text-align: center;
    border-radius: 15px;
    line-height: 46px;
    font-size: 16px;
    font-weight: 600;

    &.btn-secondary{
        background-color: $violet;
        border: 1px  solid transparent;
        transition: all .3s;
        &:hover{
            background-color: transparent;
            border: 1px solid $violet;
            color: $violet;
        }
    }

    &-sm{
        line-height: 38px;
        border: 1px solid $black;
    }

    &.btn-white{
        background-color: $white;
        color: $darkBlue;
        border: 1px solid transparent;
        transition: all .3s;
        &:hover{
            background-color: transparent;
            border: 1px solid $white;
            color: $white;
        }
    }
    &.btn-security{
        line-height: 10px;
        padding: 3px;
    }

  
}

