// .btn{
//     background-color: $white;
//     min-width: 136px;
//     width: 100%;
//     height: 40px;
//     &-left{
//         a{

//         }
//     }
// }

// button{
//     width: 288px;
//     height: 40px;
//     border-radius: 10px;
//     background: $white;
//     outline: none;
//     border: none;
// }


.btn{
    display: inline-block;
    min-width: 116px;
    text-align: center;
    border-radius: 15px;
    line-height: 46px;
    font-size: 16px;
    font-weight: 600;

    &.btn-secondary{
        background-color: $violet;
        border: 1px  solid transparent;
        transition: all .3s;
        &:hover{
            background-color: transparent;
            border: 1px solid $violet;
            color: $violet;
        }
    }

    &-sm{
        line-height: 38px;
        border: 1px solid $black;
    }

    &.btn-white{
        background-color: $white;
        color: $darkBlue;
        border: 1px solid transparent;
        transition: all .3s;
        &:hover{
            background-color: transparent;
            border: 1px solid $white;
            color: $white;
        }
    }
    &.btn-security{
        line-height: 10px;
        padding: 3px;
    }
}

