.drop{
    margin-left: 15px;
    &-box{
        position: relative;
        a{
            color: $blue-magenta;
            font-size: 14px;
            line-height: 36px;
        }
    }
    &-btn{
        background: #F9FBFD;
        border: 1px solid #E4E9EE;
        display: block;
        border-radius: 10px;
        padding: 5px 40px 5px 12px;
        &:after{
            position: absolute;
            position: absolute;
            font-family: 'ntsame';
            content: "\e8fe";
            right: 18px;
            top: 47%;
            transform: translate(0, -50%);
            font-size: 16px;
            transition: all 0.5s;
        }
        &-1{
            min-width: 156px;
            width: 100%;
        }
        &-2{
            min-width: 104px;
            width: 100%;
        }
        &-3{
            min-width: 219px;
            width: 100%;
        }
        &-4{
            min-width: 216px;
            width: 100%;
        }
        &-basic-1{
            min-width: 108px;
            width: 100%;
        }
        &-basic-2{
            min-width: 292px;
            width: 100%;
            @media (max-width: 700px){
                display: block;
            }
        }
        &-more{
            min-width: 308px;
            width: 100%;
        }
    }
    &-btn.active{
        &:after{
            transform: rotate(180deg);
            top: 12%;
            transition: all 0.5s;
        }
    }
    &-basic-1{
        margin-left: 8px;
    }
    &-basic-2{
        margin-left: 14px;
    }
    &-basic-3{
        margin-left: 0px;
    }

    &-basic-btn{
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.4);
    }
    &-basic-box{
        a{
            color: $white;
            line-height: 28px;
        }
    }
    &-more-box{
        a{
            color: #bdbdbd;
            line-height: 28px;
        }
    }
    &-more-btn{
        background: #F5F5F5;
        &:after{
            position: absolute;
            position: absolute;
            font-family: 'ntsame';
            content: "\e901";
            right: 18px;
            top: 50%;
            transform: translate(0, -50%);
            font-size: 16px;
            color: #777;
        }
    }
    &-menu{
        margin-top: 20px;
        position: absolute;
        border: 1px solid #E4E9EE;
        display: block;
        left: 0;
        right: 0;
        border-radius: 10px;
        background: #F9FBFD;
        border: 1px solid #E4E9EE;
        z-index: 10;
        padding: 8px 12px;
        // opacity: 0;
        display: none;
        a{
            line-height: 28px;
        }

    }
    &-basic-menu{
        a{
            color: $black;
        }
    }
    &-more-menu{
        a{
            color: #bdbdbd;
        }
    }
    &-menu.active{
        display: block;
    }
}