.header{
    height: 80px;
    background: #5358c1;
    // background: rgba(255, 255, 255, 0.1);
    // backdrop-filter: blur(100px);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    &__logo{
        a{
            font-size: 24px;
            line-height: 29px;
            font-weight: 600;   
        } 
    }
    &__nav{
        &-item{
            display: flex;
            font-weight: 600;
            align-items: center;
            li{
                padding: 8px 16px;
                border-radius: 10px;
                cursor: pointer;
                a{
                    color: $black;
                }

            }
            li:first-child{
                background-color: $white;
                a{
                    color: $primary;
                }
            }
            li:last-child{
                border: 1px solid $black;
                background-color: $violet;
                width: 116px;
                line-height: 38px;
                text-align: center;
                padding: 0px;
                border-radius: 15px;
                transition: all .3s;
                &:hover{
                    background-color: transparent;
                }
            }
            li:nth-child(2),
            li:nth-child(3),
            li:nth-child(4),
            li:nth-child(5){
                margin-left: 35px;
                a{
                    color: $white;
                    transition: all .3s;
                }
                
            }

            li:nth-child(2),
            li:nth-child(3),
            li:nth-child(4){
                transition: all .3s;
                &:hover{
                    background-color: $white;
                    a{
                        color: $primary;
                        transition: all .3s;
                    }
                }
                
            } 
        }
    }
}