.search{
    &__title{
        font-size: 36px;
        line-height: 43px;
        color: $blue-magenta;
        font-weight: 600;
        margin-top: 55px;
    }
    &__drop-wrapper{
        display: flex;
        margin: 0 -12px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    &__drop{
        display: flex;
        align-items: center;
        // padding-top: 25px;
        // padding-bottom: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 12px;
        padding-right: 12px;
        &:nth-child(3) .search__drop-menu,
        &:nth-child(3) .search__drop-sub-menu,
        &:nth-child(4) .search__drop-menu,
        &:nth-child(4) .search__drop-sub-menu{
            min-width: 104px;
        }
        &:nth-child(5) .search__drop-menu,
        &:nth-child(5) .search__drop-sub-menu{
            min-width: 219px;
        }
        &:nth-child(5) .search__drop-item{
            margin-left: 0px;
        }
        &-title{
            font-size: 14px;
            line-height: 17px;
            color: $blue-magenta;
        }
        &-item{
            margin-left: 15px;
            
        }
        &-item.active .search__drop-sub-menu{
            display: block;
        }
        &-menu{
            min-width: 156px;
            width: 100%;
            border: 1px solid $drop-border;
            cursor: pointer;
            background-color: $drop-bg;
            border-radius: 10px;
            position: relative;
            li{
                padding: 16px 0px 16px 12px;
                a{
                    color: $blue-magenta;
                }
            }
            &:after{
                position: absolute;
                font-family: 'ntsame';
                content: "\e901";
                right: 18px;
                top: 50%;
                transform: translate(0, -50%);
                font-size: 16px;
            }
        }
        &-sub-menu{
            display: none;
            min-width: 156px;
            border: 1px solid $drop-border;
            border-radius: 10px;
            background-color: $drop-bg;
            position: absolute;
            margin-top: 10px;
            z-index: 100;
            li{
                padding: 10px 0px 10px 12px;
                a{
                    color: $blue-magenta;
                    display: block;
                }
            }
        }
        // &-sub-menu.active{
        //     display: block;
        // }

        &-button{
            flex-grow: 1;
            .btn{
                width: 100%;
                @media (max-width: 1250px){
                    max-width: 140px;
                    width: 100%;
                }
            }
        }
        &-wrapper{
            // display: none;
            flex-wrap: wrap;
        }
    }
    &__wrapper{
        margin: 0px -12px;
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        width: 33.3%;
        padding: 0 12px;
        margin-bottom: 24px;
        @media (max-width: 1150px){
            width: 50%;
        }
        @media (max-width: 750px){
            width: 100%;
        }
        &-inner{
            // background-color: $light-gray;
            background-color: $turquoise;
            border-radius: 10px;
            padding: 8px;
            display: flex;
            @media (max-width: 750px){
                max-width: 400px;
                margin: 0 auto;
            }
        }
        img{
            width: 192px;
            @media (max-width: 750px){
               width: 180px;
            }
        }
        &-info{
            padding-left: 24px;
            padding-top: 40px;
            @media (max-width: 750px){
                padding-top: 0px;
            }
        }
        &-name{
            font-size: 18px;
            line-height: 21px;
            font-weight: 600;
            color: $blue-magenta;
            margin-bottom: 13px;
            
        }
        &-age{
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
            margin-top: 13px;
            span{
                font-weight: 600;
                line-height: 17px;
            }
        }
        &-block{
            margin-top: 15px;
            li{
                margin-bottom: 12px;
                a{
                    display: flex;
                    align-items: center;
                    span{
                        width: 32px;
                        height: 32px;
                        border-radius: 5px;
                        
                        &.chat-icon{
                            background-color: rgba(64, 69, 186, 0.2);
                            position: relative;
                            &:before{
                                position: absolute;
                                content: "\e906";
                                font-family: 'ntsame';
                                font-size: 18px;
                                color: #4045BA;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                        &.message-icon{
                            background-color: rgba(206, 73, 208, 0.2);
                            position: relative;
                            &:before{
                                position: absolute;
                                content: "\e917";
                                font-family: 'ntsame';
                                font-size: 18px;
                                color: #CE49D0;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                            }

                        }
                        &.clips-icon{
                            background-color: rgba(237, 110, 127, 0.2);
                            position: relative;
                            &:before{
                                position: absolute;
                                content: "\e92c";
                                font-family: 'ntsame';
                                font-size: 18px;
                                color: #ED6E7F;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                    p{
                        font-size: 12px;
                        line-height: 14px;
                        padding-left: 12px;
                        color: $blue-magenta;
                    }
                }  
            }
            li:last-child{
                margin-bottom: 0;
            }
        }
        &-id{
            font-size: 14px;
            line-height: 17px;
            font-weight: 500;
            margin-top: 22px;
        }
    }
}